body {
    font-family: 'Inter';
    margin: 0;
    display: flex;
    height: 400px;
    width: 832px;
    flex-direction: column;
    transition: background-color 0.3s ease;
}

.chat-body {
    height: 500px;
    overflow-y: auto;
    scroll-behavior: smooth;
    /* 添加平滑滚动效果 */
}

:root {
    --background: #f0f0f0;
    --option-bg: #DAEBF7;
    --selected-bg: #5197d6;
    --text-primary: #3389d4;
    --text-white: white;
}

.DSL_rendered_group {
    /* opacity: 0.5; */

}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    /* min-width: 832px; */
    min-height: 400px;
}

/* 左侧 SVG 展示区 */
.left-panel {
    /* flex: 1; */
    display: flex;
    width: 28.8%;
    flex-direction: column;
    padding: 20px;
    background-color: #ffff;
    border-right: 1px solid #ddd;
    width: 240px;
}

#status-bar {
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

#svg-container {
    flex: 1;
    background: #222;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow: auto;
    position: relative;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 40px);
}

#svg-container svg {
    /* width: 100%; */
        max-width: 100%;
        max-height: 100%;

}

#svg-container.empty {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
}

.status {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
}

.status.error {
    color: #e44;
}

.status.success {
    color: #4a4;
}

#copy-button {
    padding: 8px 16px;
    background-color: #5197d6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
    transition: background-color 0.3s ease;
}

#share-button {
    padding: 8px 16px;
    background-color: #5197d6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
    transition: background-color 0.3s ease;
}

#share-button:hover {
    background-color: #1565aa;
}

#copy-button:hover {
    background-color: #1565aa;
}

#copy-button:disabled {
    background-color: #CCCCCC;
    cursor: not-allowed;
}

#svg-code {
    margin-top: 20px;
    padding: 15px;
    background: #f5f5f5;
    border-radius: 4px;
    font-family: monospace;
    white-space: pre-wrap;
    overflow-x: auto;
    display: none;
    font-size: 12px;
    color: #333;
    min-height: 100px;
    overflow-y: auto;
}

#svg-tree-code {
    margin-top: 20px;
    padding: 15px;
    background: #f5f5f5;
    border-radius: 4px;
    font-family: monospace;
    white-space: pre-wrap;
    overflow-x: auto;
    display: none;
    font-size: 12px;
    color: #333;
    min-height: 100px;
    overflow-y: auto;
}

/* 右侧对话框 */
.right-panel {
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    border-right: 1px solid #ddd;
    padding: 0;
    width: 592px;
}

.chat-header {
    background: #ffff;
    color: black;
    padding: 8px;
    text-align: left;
    border-radius: 4px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 11px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.chat-body {
    flex: 1;
    overflow-y: auto;
    padding: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.chat-message {
    margin: 0px;
    display: flex;
    font-weight: 400;
    font-size: 11px;
    padding: 0px;
    white-space: pre-wrap;
    /* 保留换行符并允许自动换行 */
    word-wrap: break-word;
    /* 确保长文本换行 */
    word-break: break-word;
    /* 防止单词过长导致溢出 */
}

.user {
    display: flex;
    margin: 8px 16px;
}

.user .message-text {
    background: #5197d6;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    margin-left: auto;
    max-width: 70%;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.assistant {
    display: flex;
    margin: 8px 16px;
}

.assistant .message-text {
    background: var(--background);
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    margin-right: auto;
    max-width: 70%;

    display: block;
    /* line-height: 24px; */
    /* 增加元素之间间距 */
    white-space: normal;
    /* 允许换行 */
}

.assistant .message-text>* {
    margin-bottom: 4px;
    /* 垂直间距 */
    margin-right: 2px;
    /* 水平间距 */
}

.assistant .button-div {
    margin: 0px;
    margin-top: 1rem;
}

.input-icon {
    position: relative;
    align-items: center;
    width: 16px;
    height: 24px;
    vertical-align: middle;
    justify-content: center;
}

.input-icon svg {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.input-wrapper {
    display: flex;
    align-items: center;
    height: 24px;
    padding: 0px 8px 0px 4px;
    gap: 4px;
    border-radius: 5px;
    background: var(--Basic-White, #FFF);
    vertical-align: middle;
    border: 1px solid #f0f0f0;
}

.input-wrapper:hover {
    border: 1px solid var(--Basic-Silver, #E5E5E5);
}

.input-wrapper:focus-within {
    border: 1px solid var(--Accent-Blue, #5197d6);
}

input {
    display: inline-block;
    /* 改为 inline 以确保与文字在同一行 */
    font-size: inherit;
    border: none;
    vertical-align: middle;
    height: 24px;
    padding: 0px;
    width: fit-content;
    min-width: 10px;
    max-width: 20ch;
    margin: 0 4px 0 0;
}

input[type="number"] {
    max-width: 10ch;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        appearance: none;
        margin: 0;
    }
}


input[type="color"] {
    margin: 0;
    padding: 0;
    width: 14px;
    height: 18px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    appearance: none;
    -webkit-appearance: none;
    margin-bottom: 2px;
}

input:focus {
    outline: none;
}

.color-input {
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 75px;
    /* 设置内部元素之间间距 */
    gap: 0 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 0;
}

.color-input input[type="string"] {
    border: none;
    margin: 0 0;
    padding: 0 0;
}

.options {
    display: flex;
    padding: 8px 0;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: fit-content;
    min-width: fit-content;
}

/* 对话中的选项 */
.option {
    background-color: #DAEBF7;
    height: 24px;
    padding: 0px 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 25px;
    background: var(--Special-Selection-A, #DAEBF7);

    color: #3389d4;

    /* Body 2/Regular */
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 160% */
    letter-spacing: 0.1px;
    flex-direction: column;
    display: inline-flex;
}

.option:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.option.selected {
    background: var(--Accent-Blue, #5197d6);
    color: white;

    /* Body 2/Regular */
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 160% */
    letter-spacing: 0.1px;
    flex-direction: row;
}

.chat-input {
    display: flex;
    width: 526px;
    padding: 8px 8px 8px 16px;
    align-items: flex-end;
    border: none;
    border-radius: 12px;
    gap: 8px;
    background-color: #f0f0f0;
    margin: 0 16px 16px 16px;
}

.chat-input textarea {
    display: flex;
    /* display: block; */
    padding: 6px 16px 6px 0px;
    height: 28px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 0 0;

    background: #f0f0f0;
    border: none;
    border-radius: 0;

    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.055px;

    overflow: hidden;
    max-height: 200px;
    outline: none;
    resize: none;
    box-sizing: border-box;

    /* 自定义滚动条样式 */
    &::-webkit-scrollbar {
        width: 6px;
        /* 滚动条宽度 */
        margin-left: 8px;
    }

    &::-webkit-scrollbar-track {
        background: #f0f0f0;
        /* 滚动条轨道背景色 */
        border-radius: 2px;
        /* 轨道圆角 */
    }

    &::-webkit-scrollbar-thumb {
        background: #c1c1c1;
        /* 滚动条滑块颜色 */
        border-radius: 2px;
        /* 滑块圆角 */
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #a8a8a8;
        /* 鼠标悬停时滑块颜色 */
    }
}

.chat-input sent-button {
    display: none;
    /* 隐藏发送按钮 */
    background: #f0f0f0;
    color: white;
    border: none;
    padding: 4px;
    cursor: pointer;
    height: 28px;
    width: 28px;
    border: none;
    background: black;
    border-radius: 8px;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fade 0.3s ease-in-out;
}

.message-text-input {
    position: relative;
    display: inline-block;
    width: fit-content;
}

.dropdown-display {
    display: flex;
    height: 24px;
    padding: 0px 8px 0px 4px;
    align-items: center;
    gap: 4px;
    border: 1px solid #f0f0f0;
    cursor: pointer;
    border-radius: 5px;
    background: var(--Basic-White, #FFF);
}

.dropdown-display:hover {
    border: 1px solid var(--Basic-Silver, #E5E5E5);
}

.dropdown-display:focus,
.dropdown-display.active {
    border: 1px solid var(--Accent-Blue, #5197d6);
}

.dropdown-options {
    display: none;
    position: absolute;
    padding: 0;
    background: white;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.option-item {
    gap: 4px;
    padding: 0px 7px 0px 4px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
        background-color: #f0f0f0;
    }
}

.option-icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.hidden-select {
    display: none;
}

.confirm-button {
    background: #5197d6;
    color: white;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.1px;
    border: none;
    border-radius: 10px;
    padding: 6px 12px;
    cursor: pointer;
}

.confirm-button:hover {
    background-color: #1565aa;
}

.confirm-button.selected {
    background: #c3dbc7;
}

.button-div {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: end;
    justify-content: end;
}

body {
    font-family: 'Inter';
    margin: 0;
    display: flex;
    height: 400px;
    width: 832px;
    flex-direction: column;
    transition: background-color 0.3s ease;
}

/* ✅ 채팅 컨테이너 적용 */
#chat-container {
    position: absolute;
    top: 50px;
    right: 0%;
    width: 35%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* ✅ 채팅 메시지 영역 스타일 */
#chat-body {
    flex-grow: 1;
    width: 98%;
    height: 65%;
    overflow-y: auto;
    font-size: 14px;
    padding: 10px;
    scrollbar-width: thin;
    -ms-overflow-style: none;
}

/* ✅ 입력창 스타일 */
#chat-input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    resize: none;
}

/* ✅ 버튼 스타일 */
#send-button {
    border-radius: 8px;
    background-color: #5197d6;
    opacity: 1;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#share-button {
    position: absolute;
    border-radius: 8px;
    background-color: #5197d6;
    opacity: 1;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#send-button:hover {
    background-color: #1565aa;
}

#confirm-no {
    background-color: #e0e0e0;
    color: black;
}

#confirm-no:hover {
    background-color: #d0d0d0;
}

#confirm-yes {
    background-color: #5197d6;
}

#confirm-yes:hover {
    background-color: #1565aa;
}

.message-text .check-list {
    display: flex;
    /* gap: 3px; */
}

.checks {
    display: flex;
    padding: 8px 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: fit-content;
    min-width: fit-content;
}

.check {
    background-color: #daebf7;
    height: auto;
    min-height: 24px;
    max-height: 72px;
    padding: 0px 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 5px;
    background-color: #daebf7;
    color: #3389d4;
  
    /* Body 2/Regular */
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 160% */
    letter-spacing: 0.1px;
    flex-direction: row;
    display: inline-flex;
}
  
.check:hover {
    background-color: #c5e2f7;
    /* color: white; */
    cursor: pointer;
}
  
.check.selected {
    background-color: #5197d6;
    color: white;
  
    /* Body 2/Regular */
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 160% */
    letter-spacing: 0.1px;
    flex-direction: row;
}

.check.selected:hover {
    background-color: #1565aa;
}